<app-navbar></app-navbar>
<div class="box">
   <div class="content" >
        
          <h1 class = "h1">Igazi meglepetés vár rád, ha megnyomod a lenti gombot!</h1>
          
        
        <div class="image is centered">
          <figure class="is-4by3">
              <img src="assets/zsakbamackokep.jpg" alt="Placeholder image" class="image">
          </figure>
      </div>
    
        <div class="buttons is-centered" >
              <a class="button is-primary is-rounded" routerLink="/zsakbamacko" routerLinkActive="active">Zsákbamackót kérek</a>
              <a class="button is-danger is-rounded" routerLink="/redbutton" routerLinkActive="active">Ne nyomd meg kérlek!</a>
        </div>
         

         

        


</div>
<app-bulma-footer></app-bulma-footer>