<app-navbar></app-navbar>
<div class="box">
   <div class="content" >
        <p>
          Igazi meglepetés vár rád, ha megnyomod a lenti gombot!
        </p>
        <div class="card-image">
          <figure class="is-4by3">
              <img src="assets/zsakbamackokep.jpg" alt="Placeholder image" class="image">
          </figure>
      </div>
    
        <div class="buttons">
          <button class="button is-primary">Zsákbamackót kérek</button>
        </div>
</div>
<app-bulma-footer></app-bulma-footer>