<section class="section">
    <table class="table" *ngIf="!emptyData">
        <thead>
            <tr>
                <th>Felhasználónév</th>
                <th>Jelszó</th>
                <th>Emailcím</th>
                <th>Szerepkör</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of userDatas">
                <td>{{data.username}}</td>
                <td>{{data.password}}</td>
                <td>{{data.email}}</td>
                <td>{{data.role}}</td>
            </tr>
        </tbody>
    </table>
    <ng-container *ngIf="emptyData">
        <h1 class="has-text-danger">Nincsenek betöltendő adatok :(</h1>
    </ng-container>
</section>
