<section class="section">
    
    <table class="table" *ngIf="!emptyData">
        <thead>
            <tr>
                <th>Felhasználónév</th>
                <th>Jelszó</th>
                <th>Emailcím</th>
                <th>Szerepkör</th>
                <th>Módosítás</th>
                <th>Törlés</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of userDatas">
                <td>{{data.username}}</td>
                <td (click)="togglePassword('password')">{{ passwordVisible ? data.password : '******' }}</td>
                <td>{{data.email}}</td>
                <td>{{data.role}}</td>
                <td><button  class="button is-primary">Módosítás</button></td>
                <td><button (click)="deleteUser(data)" [id]="data.id" class="button is-danger">Törlés</button></td>
            </tr>
        </tbody>
    </table>
    <ng-container *ngIf="emptyData">
        <h1 class="has-text-danger">Nincsenek betöltendő adatok :(</h1>
    </ng-container>
</section>
