<app-navbar></app-navbar>
<div class="container">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate, atque deserunt ipsam quidem voluptas, ullam quae, non fugit qui aliquid repellendus? Obcaecati exercitationem voluptate praesentium recusandae quam dicta soluta debitis illo ea accusantium quidem quos fugiat pariatur dignissimos iusto, doloribus laboriosam, necessitatibus nesciunt beatae ipsa dolores delectus earum quae aliquid. Modi, atque. Non quibusdam id temporibus quas quod voluptatibus dolorem illo accusamus ipsam fugiat fuga eaque quis aperiam repellat, saepe sunt! Velit animi vero omnis quaerat? Saepe doloremque tenetur, beatae est temporibus enim impedit at nisi asperiores consectetur deserunt odio quisquam ipsa blanditiis consequatur eius repellendus. Ducimus tempora earum cupiditate!
</div>
<app-bulma-footer></app-bulma-footer>
