<section class="section">
   <div class="field box container">
        
          <h1 class = "h1">Igazi meglepetés vár rád, ha megnyomod a lenti gombot!</h1>
          
        <div class="field image is-centered">
            <figure class="is-4by3">
          <img src="assets/zsakbamackokep.jpg" alt="Placeholder image" class="image" *ngIf="!clicked">
          </figure>

          <div class="field m-3" *ngIf="clicked">
            <div class="card has-background-grey-lighter">
              <div class="card-image">
                  <figure class="is-4by3">
                      <img src="../assets/{{this.object.image}}.png" alt="Placeholder image" class="image">
                  </figure>
              </div>
              <div class="card-content">
                  <div class="media">
                      <div class="media-content">
                          <p class="title is-4 cim cim-fixed">{{ this.object.title }}</p>
                          <p class="subtitle is-6 szerzo">{{ this.object.author }}</p>
                      </div>
                  </div>
                  <div class="content subtitle leiras has-fixed-height">
                      {{ this.object.description }}
                  </div>
                  <div class="level">
                      <div class="level-left level-item"><button class="button is-info gomb">Gomb</button></div>
                      <div class="level-right level-item year subtitle">{{this.object.year}}</div>
                      <div class="level-right level-item year subtitle">{{this.object.category}}</div>
                      <div class="level-right level-item year subtitle">{{this.object.county}}</div>
                      <div class="level-right level-item year subtitle">{{this.object.quality}}</div>
                  </div>
              </div>
          </div>
          </div>
      </div>

        <div class="field buttons is-centered m-3" >
              <button (click)="loadSurprise()" class="button is-primary is-rounded has-text-dark" *ngIf="!emptyData">Zsákbamackót kérek</button>
              <button class="button is-danger is-rounded has-text-warning" routerLink="/redbutton" routerLinkActive="active">Ne nyomd meg kérlek!</button>
        </div>
  </div>
  
</section>