.card:hover{
    transform: scale(1.01);
}

.has-fixed-height {
    height: 200px; /* Itt megadhatod a kívánt fix magasságot */
    overflow: auto; /* Túlcsordulás esetén görgetősáv jelenik meg */
}

.cim-fixed{
    height: 60px;
}

.card{
    position: relative;
    top: 30px;
}

.container{
    margin-bottom: 60px;
}

@media screen and (max-width: 768px) {
    .title{
        font-size: 24px;
    }
  }

  @media screen and (min-width: 769px) {
    .title {
      font-size: 19px;
    }
  }

  @media screen and (max-width: 1024px) {
    .title {
      font-size: 24;
    }
  }
  
  /* Szélesképernyő */
  @media screen and (min-width: 1216px) {
    .title {
      font-size: 24;
    }
  }
  
  /* Teljes HD */
  @media screen and (min-width: 1408px) {
    .title {
      font-size: 24px;
    }
  }