<div class="container m-5">
    <div class="row">
        <div *ngFor="let o of oszlopok" class="col">
            {{o.text}}
        </div>
        <div class="col">
            Actions
        </div>
    </div>

    <div class="row">
        <div *ngFor="let o of oszlopok" class="col">
            <input *ngIf="o.type!='plain' && o.type!='bool'" [(ngModel)]="newBook[o.key]" [type]="o.type" class="form-control">
        </div>
        <div class="col">
            <button (click)="createBook()" type="button" class="btn btn-primary">Hozzáad</button>
        </div>
    </div>

    <div class="field columns is-vcentered mt-3">
        <input *ngIf="!show" class="column is-one-quarter input mt-2 is-info is-rounded has-text-info-dark" type="password" [(ngModel)]="userCode">
        <button class="column is-one-quarter button mt-2" (click)="validate()">{{this.buttonText}}</button>
    </div>

    <div *ngIf="show" class="container m-2">
        <div *ngFor="let book of books" class="row">
            <div *ngFor="let o of oszlopok" class="col">
                <ng-container *ngIf="o.type=='bool'">
                    <div class="form-check form-switch">
                        <input [(ngModel)]="book[o.key]" class="form-check-input" type="checkbox">
                    </div>
                </ng-container>
                <input *ngIf="o.type!='bool'" [(ngModel)]="book[o.key]" [type]="o.type" class="form-control">
            </div>
            <div class="col">
                <button (click)="updateBook(book)" type="button" class="btn btn-primary">Ment</button>
                <button (click)="deleteBook(book)" type="button" class="btn btn-secondary">Töröl</button>
            </div>
        </div>
    </div>
</div>