
<div class="covering">
    <app-navbar></app-navbar>
    <section class="section">
                <div class="container">
                    <input type="text" placeholder="Név" class="input mt-2 is-info is-large is-rounded has-text-info-dark ">
                    <input type="text" placeholder="Emailcím" class="input mt-2 is-info is-large is-rounded has-text-info-dark">
                    <div class="columns">
                        <div class="column">
                            <div class="select is-info is-rounded mt-2 is-large">
                                <select class="has-text-info-dark">
                                  <option>Megyék</option>
                                  <option>Budapest</option>
                                  <option>Pest</option>
                                  <option>Többiek</option>
                                </select>
                              </div>
                        </div>
                        <div class="column"><button class="button is-large is-info is-rounded mt-2">Mehet</button></div>
                    </div>
                </div>
    </section>
    <app-bulma-footer></app-bulma-footer>
</div>